html,
body {
  width: 100%;
  height: 100%;
  background-color: #232323;
}

.header {
  padding-bottom: 1%;
  text-align: center;
  color: #efefef;
}

.game-container {
  width: 40%;
  margin: 50px auto;
}

.game-piece {
  width: 48%;
  height: 250px;
  display: inline-block;
  border-radius: 25px;
  margin: 0 5px 3px 0;
  background-color: lightgray;
}

@media (max-width: 768px) {
  .game-piece {
    width: 46%;
    height: 150px;
    display: inline-block;
    border-radius: 25px;
    margin: 0 3px .5px 0;
    background-color: lightgray;
  }
}

@media (max-width: 425px) {
  .game-piece {
    width: 46%;
    height: 75px;
    display: inline-block;
    border-radius: 25px;
    margin: 0 3px .5px 0;
    background-color: lightgray;
  }
}

.start-button {
  height: 60px;
  width: 200px;
  margin: 0 auto;
  background: dodgerblue;
  color: white;
  border: none;
  display: block;
  padding: 10px 15px;
  border-radius: 52px;
}

@media (max-width: 425px) {
  .start-button {
    height: 40px;
    width: 200px;
    background: dodgerblue;
    color: white;
    border: none;
    border-radius: 52px;
    display: inline-block;
    float: none !important;
    left: 50%;
    position: relative;
    transform: translate(-50%);
  }
}

.game-over-button {
  height: 60px;
  width: 200px;
  margin: 0 auto;
  background: red;
  color: white;
  border: none;
  display: block;
  padding: 10px 15px;
  border-radius: 52px;
}

@media (max-width: 425px) {
  .game-over-button {
    height: 40px;
    width: 200px;
    background: red;
    color: white;
    border: none;
    border-radius: 52px;
    display: inline-block;
    float: none !important;
    left: 50%;
    position: relative;
    transform: translate(-50%);
  }
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}
