.lightblue {
  color: lightblue;
}

.square {
  /* background: #fff; */
  border: 1px solid #999;
  float: left;
  height: 100px;
  width: 100px;
  margin-left: -1px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
